.order-detail-max-container {
  margin-left: 370px;
}

.order-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  height: 100%;
  background: transparent;
}

.order {
  margin-left: 40px;
  margin-right: 40px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 80%;
  overflow-y: auto;
}

.order-product-list {
  overflow-y: auto;
}

.order-product-list::-webkit-scrollbar {
  width: 10px;
}
.order-product-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.order-product-list::-webkit-scrollbar-thumb {
  background: rgb(32, 32, 32);
  border-radius: 10px;
}

.details-header {
  margin-left: 4%;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 5px;
  color: whitesmoke;
  padding-top: 3rem;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.order-summary h3 {
  font-size: 1.5rem;
}

.order-highligth-text {
  font-weight: 600;
}
.order-img {
  width: 60px;
}

.order-product-list {
  list-style: none;
}

.order-product-list-header {
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: 600;
}

.order-product {
  display: flex;
  margin-top: 40px;
  gap: 50px;
}

.order-product-description {
  display: flex;
  align-items: center;
}

.order-product-name {
  font-size: 1.5rem;
}

.order-product-price-qty {
  font-size: 1.3rem;
}

@media (max-width: 800px) {
  .order-product {
    flex-direction: column;
  }
  .order-summary h3 {
    font-size: 1.2rem;
  }
  .order-product-list-header {
    font-size: 1.2rem;
  }
  .order-product-name {
    font-size: 1.2rem;
  }
  .order-product-price-qty {
    font-size: 1rem;
  }
  .order-img {
    width: 45px;
  }
}
